*,
::before,
::after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  
}
.main-container:not(.right-module) {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-display {
  width: 400px;
  height: 400px;
  background: linear-gradient(#7f7fd5, #86a8e7, #91eae4);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  position: relative;
  z-index: 999;
  
}
.weather-display .day{
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 2rem;
}
.weather-display .date{
    position: absolute;
    top: 50px;
    left: 20px;
    font-size: 1.5rem;
}
.weather-display .city{
    position: absolute;
    top: 90px;
    left: 20px;
    font-size: 18.3px;
}
.fal{
    position: absolute;
    bottom: 110px;
    left: 15px;
    font-size: 5rem;
}
.degrees{
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 3rem;
}
.weather-info{
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 1rem;
}
.right-module{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #45567d;
    height: 400px;
    width: 410px;
    border-radius: 20px;
    z-index: 1;
    left: 700px;
}
.right-module input{
    position: absolute;
    bottom: 50px;
    border-radius: 15px;
    border: 0;
    right: 70px;
    padding: 5px;
}
.right-module input:focus,.right-module input:active{
    color: black;
    border: 0;
    background-color: transparent;
}
.humidity{
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 2rem;
    color: #fff;
}
.wind{
    position: absolute;
    top: 60px;
    right: 25px;
    font-size: 2rem;
    color: #fff;
}
.hum-text{
    color: #fff;
    font-family: inherit;
    position: absolute;
    top: 5px;
    right: 130px;
    font-size: 2rem;
    color: #fff;
}
.wind-text{
    position: absolute;
    font-family: inherit;
    top: 60px;
    right: 200px;
    font-size: 2rem;
    color: #fff;
}
.choose-location{
    color: #fff;
    position: absolute;
    bottom: 80px;
    right: 95px;
}

