*,
::before,
::after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  background: linear-gradient(#22c1c3, #fdbb2d);
}
.main-container:not(.right-module) {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-display {
  width: 400px;
  height: 400px;
  background: linear-gradient(#7f7fd5, #86a8e7, #91eae4);
  border-radius: 20px 0px 00px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  position: relative;
  z-index: 999;
  
}
.weather-display.remove{
   display: none;
   
}
.right-module.round{
    border-radius: 20px;
   
}

.divider.remove{
    display: none;
}
.weather-display.move-left{
    animation: rotate 0.2s linear 0s;
}
.weather-display .day {
  position: absolute;
  top: 0px;
  left: 20px;
  font-size: 2rem;
}
.weather-display .date {
  position: absolute;
  top: 50px;
  left: 20px;
  font-size: 1.5rem;
}
.weather-display .city {
  position: absolute;
  top: 90px;
  left: 20px;
  font-size: 18.3px;
}
.fal {
  position: absolute;
  bottom: 130px;
  left: 20px;
  font-size: 4rem;
  animation: rotateDsc 5s linear infinite;
}
.degrees {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 3rem;
}
.weather-info {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 1rem;
}
.right-module {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #45567d;
  height: 400px;
  width: 410px;
  border-radius: 0px 20px 20px 0px;
  z-index: 1;
  position: relative;
}
.right-module input {
  position: absolute;
  bottom: 50px;
  border-radius: 15px;
  border: 0;
  right: 120px;
  padding: 5px;
  color: #fff;
}

.right-module input:focus,
.right-module input:active {
  border: 0;
  background-color: transparent;
}
.humidity {
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 2rem;
  color: #fff;
}
.wind {
  position: absolute;
  top: 60px;
  right: 25px;
  font-size: 2rem;
  color: #fff;
}
.hum-text {
  color: #fff;
  font-family: inherit;
  position: absolute;
  top: 5px;
  right: 230px;
  font-size: 2rem;
  color: #fff;
}
.wind-text {
  position: absolute;
  font-family: inherit;
  top: 60px;
  right: 300px;
  font-size: 2rem;
  color: #fff;
}
.choose-location {
  color: #fff;
  position: absolute;
  bottom: 80px;
  right: 150px;
}
.divider {
  width: 5px;
  height: 400px;
  background-color: black;
}

@media (max-width: 768px) {
  .main-container {
    
    display: flex;
    flex-direction: column;
  }
  .divider {
    
    width: 300px;
    height: 10px;
  }
  .weather-display {
    
    width: 300px;
    height: 300px;
    background: linear-gradient(#7f7fd5, #86a8e7, #91eae4);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: #fff;
    position: relative;
  }
  .right-module {
    animation: rotate2 0.5s linear 0.1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #45567d;
    height: 300px;
    width: 300px;
    border-radius: 0px 0px 20px 20px;
    z-index: 1;
    position: relative;
  }
  .choose-location {
    color: #fff;
    position: absolute;
    bottom: 80px;
    right: 104px;
  }
  .right-module input {
    position: absolute;
    bottom: 50px;
    border-radius: 15px;
    border: 0;
    right: 75px;
    padding: 5px;
    color: #fff;
  }
  .hum-text {
    color: #fff;
    font-family: inherit;
    position: absolute;
    top: 5px;
    right: 140px;
    font-size: 2rem;
    color: #fff;
  }
  .wind-text {
    position: absolute;
    font-family: inherit;
    top: 60px;
    right: 210px;
    font-size: 2rem;
    color: #fff;
  }
  .fal{
    position: absolute;
    bottom: 170px;
    left: 200px;
    font-size: 5rem;
    
    animation: rotateDsc 5s linear infinite;
  }
}
@keyframes rotate{
    0%{
        transform: translate(100%);
    }
    100%{
        transform: translate(0%);
    }
}
@keyframes rotateDsc{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}